body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  padding-top: 60px; /* Adjusted padding to body for the fixed header */
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #343a40;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}


.topnav a {
  float: right;
  display: inline-block; /* Adjusted to display on the same line */
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

#app {
  max-width: 600px;
  margin: auto;
  padding-top: 20px;
}

.form-container {
  margin-bottom: 20px;
}

button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.result-section {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

#activityForm label {
  display: block;
  margin-top: 10px;
}

footer {
  background-color: #343a40;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: auto;
}
